
/* modal */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height:100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
 }

 .modal {
position: absolute;
top: 50%;
left: 50%;
width: 408px;
min-height: 584px;
padding: 24px;
background-color: #fcfcfc;
border-radius: 4px;
padding: 72px 24px 24px 24px;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.backdrop:not(.is-open) .modal {
transform: translate(-50%, -50%) scale (1.5);  
}

.modal-close-button {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
height: 24px;
width: 24px;
top: 24px;
right: 24px;
cursor: pointer;
border-radius: 50%;
fill: #2e2f42;
background-color:#e7e9fc; 
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
border: none;
background-color: #404bbf;
fill: #fff;
}

.modal-close-icon:hover
.modal-close-icon:focus {
fill: #fff;
}

.modal-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.form-field-wrapper {
margin-bottom: 8px;
}

.form-field-label {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.form-field-input-wrapper {
position: relative;
}

.form-field-icon {
left: 16px;
position: absolute;
top: 50%;
transform: translateY(-50%);
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-icon:hover,
.form-field-icon:focus {
fill: #4d5ae5;
}

.form-field-text-input:focus+.form-field-icon {
fill: #4d5ae5;
}

.form-field-text-input {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding-left: 36px;
width: 100%;
height: 40px;
background-color: transparent;
outline: transparent;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-text-input:hover,
.form-field-text-input:focus {
border-color:#4d5ae5;
}

.form-field-comment {
margin-bottom: 16px;
}

.form-field-textarea {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
resize: none;
outline: transparent;
background-color: transparent;
padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-field-textarea:hover,
.form-field-textarea:focus {
border-color: #4d5ae5;
}

.form-container-checkbox {
margin-bottom: 24px;
}

.form-label-checkbox {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.form-custom-checkbox {
display: inline-flex;
align-items: center;
justify-content: center;
height: 16px;
width: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
fill: transparent;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
text-decoration: underline;
color:#4d5ae5;;
}

.checkbox:checked + .form-label-checkbox > .form-custom-checkbox{
background-color:#404bbf;
border: none;
fill: #f4f4fd;
}

.form-button-submit {
display: block;
border-radius: 4px;
border: none;
min-width: 169px;
height: 56px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}

.form-button-submit:hover,
.form-button-submit:focus {
background-color: #404bbf;
}


